* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

    border-radius: 5px;

    /* outline: solid red 1px; */
}

body {
    background-color: rgb(0, 58, 0);
}

#calcBody {
    background-color: beige;
    width: 300px;
    height: 550px;

    border-radius: 10px;
    border-right: solid rgb(161, 104, 0) 5px;
    box-shadow: 5px 5px 5px black;

    margin: 20px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
#calcHeader {
    font-size: 20px;
    font-style: italic;
    color: maroon;
    font-weight: bold;

    margin: 0 -5px 10px;
}

.lineBreak {
    height: 3px;
    background-color: maroon;

    margin: 0 -5px 5px;
}

#display {
    background-color: lightgray;
    text-align: right;
    padding: 5px;
    font-size: 38px;
    border: solid gray 3px;
    box-shadow: inset 2px 2px 2px black;
    color: black;
    height: 62px;

    margin-bottom: 5px;
}

#keys {
  display: flex;
  flex-direction: column;
  gap: 5px;

  flex-grow: 1;
  margin-top: 10px;
}

#keys * {
    flex-grow: 1;
    flex-basis: 0;
    gap: 5px;
}

.row {
    display: flex;
}

#topRow {
    margin-bottom: 10px;
}

#bottomRow {
    margin-top: 10px;
    flex-grow: 2;
}

#operators {
    display: flex;
    flex-direction: column;

    /* why + .1 ???? */
    flex-grow: 2.1; 
}

button {
    color: maroon;
    font-weight: 900;
    font-size: large;
    background-color: white;

    border: solid black 1px;
    box-shadow: 2px 2px 2px black;
    cursor:pointer;    
}

#bottomRow button,
#allClearBtn, 
#powerBtn {
    color: white;
    background-color: maroon;
}

